.send_modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Fredoka", sans-serif;

  .send_title {
    font-size: 3.7rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .dark_send_title svg path {
    stroke: var(--text-color);
  }

  .token {
    width: 31.9rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0E6F9;
    font-size: 3.3rem;
    font-weight: 500;
    border-radius: 2rem;
  }

  .dark_token {
    background: #434e6e;
  }

  .account {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 3.3rem;
    gap: 1rem;

    p {
      margin: 0;
      font-size: 2.3rem;
    }

    .send_address, .amount {
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      background: #E0E6F9;
      padding: 1rem 3rem 1rem 2rem;
      border-radius: 2rem;

      input {
        width: 100%;
        height: 4rem;
        border: none;
        background-color: inherit;
        outline: none;
        font-size: 2.3rem;
      }
    }

    .amount{
      margin-top: 2rem;

      span{
        cursor: pointer;
        font-size: 2.3rem;
      }
    }

  }

  .dark_account {

    .amount, .send_address {
      background: #434e6e;
    }

    .amount span {
      color: var(--text-color) !important;
    }
  }

  .done_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #712BE4;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
