.profile_main {
  position: relative;
  font-family: "Fredoka", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
  border-left: 1px solid #679BF8;
  border-right: .1px solid #679BF8;

  .profile_title {
    width: 100%;
    font-size: 3.7rem;
    text-align: start;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;

    position: sticky;
    top: 0;
    //background: white;
    z-index: 1;
  }

  .background {
    height: 18.8rem;
    width: 100%;
    background: #F0F4FF;
  }

  .profile_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    .user_panel {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      padding: 1rem 3rem;

      .avatar_panel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
          display: flex;

          img {
            width: 10.9rem;
            height: 10.9rem;
            margin-right: 1rem;
            border-radius: 50%;
            object-fit: cover;
          }

          .name {
            font-size: 5rem;
          }

          .id {
            font-size: 2.3rem;
          }
        }

        .edit {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3.2rem;
          background: #F0E9FF;
          font-size: 2.3rem;
          padding: 0.5em 2.5rem;
          margin-left: 1.7rem;
          cursor: pointer;
        }

        .edit:hover {
          background: #DAD2EC;
        }
      }

      .des {
        text-align: start;
        font-size: 2.1rem;
        margin-top: 1rem;
        font-family: Arial, Helvetica, sans-serif;
      }

      .aa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .label-link {
          cursor: pointer;
        }

        .label {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 2.1rem;
          padding: 1rem 2rem;

          .wrap {
            display: flex;
            align-items: center;

            .follow {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-right: 3rem;
            }

            .down_line {
              background: black;
              height: 1px;
            }
          }

          .number {
            font-size: 2.7rem;
            font-family: Arial, Helvetica, sans-serif;
            color: #297EFF;
            font-weight: bold;
            margin-right: 1rem;
          }

          .wallet_address {
            display: flex;
            gap: 1rem;
            padding: 1rem 2rem;
            border-radius: 5rem;
            align-items: center;
            cursor: pointer;

            &:hover {
              background: #DAE0F7;
            }

            .copy {
              display: none;
            }

            &:hover .copy {
              display: block;
            }
          }
        }


      }
    }
  }
}

.dark_profile_main {
  .profile_body .user_panel .avatar_panel .edit {
    color: black;
  }

  .profile_body .user_panel .aa .label svg path {
    fill: #b9c9de;
  }
}

@media screen and (max-width: 500px) {

  .profile_main {
    border-right: 0;
    border-left: 0;

    .profile_body {

      .user_panel {
        padding: 0 2rem;
        margin-bottom: 2rem;

        .avatar_panel .info .name {
          font-size: 3rem;
        }

        .aa {
          display: flex;
          gap: 1rem;
          flex-direction: row;
          flex-wrap: wrap;

          .label {
            padding-left: 1rem;

            .wrap:first-child {
              padding-right: 1rem;
            }
          }
        }
      }
    }

    .background {
      margin: 1rem 0;
    }
  }

}

