.login_modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .avatar {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


  img {
    width: 4.4rem;
  }

  .title {
    width: 100%;
    text-align: start;
    font-size: 5rem;
    padding: 0;
  }

  .background {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    height: 18.8rem;
    justify-content: center;
  }

  .avatar:hover, .background:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .avatar_wrap {
    display: flex;
    width: 100%;
    gap: 3rem;


  }


}

