.main_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  overflow: auto;
  border-right: 1px solid #679BF8;
  border-left: 1px solid #679BF8;
  gap: 2rem;

  .title {
    font-size: 3.7rem;
    font-family: "Fredoka", sans-serif;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.post_main:hover {
  background: #F0F4FF;
}

.post_main {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  cursor: pointer;
  padding: 2rem 2rem 1rem 2rem;
  flex-direction: column;


  .author {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    .avatar {
      width: 5.3rem;
      height: 5.3rem;
      border-radius: 50%;
    }
  }

  .more_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .more_wrap:hover {
    background: #d7e4ff;
  }

  .dropdown_wrap {
    position: absolute;
    flex-direction: column;
    background: #d7e4ff;
    border-radius: 2rem;
    font-size: 2.1rem;
    font-weight: 500;
    gap: 0rem;
    left: -8rem;
    padding: 0.5rem;
    top: 5rem;

    div {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 2rem;
      gap: 2rem
    }

    div:hover {
      background: ghostwhite;
    }
  }

  .tweet {
    font-size: 2rem;
    color: #000;
    text-align: start;
    line-height: 3rem;
    margin-bottom: 2rem;

    .img_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;

      div {
        width: 49%;
        border-radius: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 30rem;
      }
    }

    .img_list div:only-child {
      width: 100%;
    }
  }

  .post_bottom {
    width: 50%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 2rem;
      gap: 1rem;
    }


  }

  .reply_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    align-items: end;
    background: #D7E4FF;
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 2rem;


    textarea {
      width: 100%;
      font-size: 2rem;
      outline: none;
      border: none;
      resize: none;
      background: inherit;
      max-height: 20rem;
    }

    div {
      background: #10499F;
      font-size: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 3rem;
      border-radius: 2rem;
      color: white;
      height: 4.6rem;
      cursor: pointer;
    }

  }
}
