.side_wrap {
  width: 32.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  min-height: 100%;
  justify-content: space-between;
  padding-bottom: 2rem;
  font-family: "Fredoka", sans-serif;

  .logo {
    padding-left: 3rem;
    width: 100%;
    height: 6.27rem;
    margin-top: 2.1rem;
    margin-bottom: 4.5rem;
    display: flex;
    cursor: pointer;
    align-items: start;

    img {
      height: 100%;
    }
  }

  .side_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27.7rem;
    gap: 2rem;


    .item, .post_button {
      width: 100%;
      font-size: 3rem;
      font-weight: 400;
      color: black;
      height: 6.73rem;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      padding-left: 25%;
      cursor: pointer;
    }

    .post_button {
      background: #428EFF;
      border-radius: 5rem;
      color: white;
    }

    .item:hover {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .side_bottom {
    width: 23.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3rem;
    background: #E5DAFD;
    border-radius: 2rem;
    cursor: pointer;
    padding: 2rem 2.5rem;
    color: black;
    font-weight: 500;
  }

  .user_info {
    width: 28.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #F8F5FF;
    border-radius: 2rem;
    padding: 1rem 1rem;

    .info {
      display: flex;

      img {
        width: 7rem;
        height: 7rem;
        margin-right: 1rem;
        border-radius: 50%;
      }

      .name {
        font-size: 2.7rem;

      }

      .id {
        font-size: 2.3rem;
      }
    }

    .icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5rem;
      padding: 1rem 0;
      cursor: pointer;
      background: #DAD2EC;
      font-size: 3rem;
    }

  }
}

