.side_wrap {
  width: 32.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100%;
  justify-content: space-between;
  padding-bottom: 2rem;
  font-family: "Fredoka", sans-serif;
  transition: 0.7s ease;

  .logo {
    padding-left: 3rem;
    width: 100%;
    height: 6.27rem;
    margin-top: 2.1rem;
    margin-bottom: 4.5rem;
    display: flex;
    cursor: pointer;
    align-items: start;

    img {
      height: 100%;
    }
  }

  .side_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27.7rem;
    gap: 2rem;

    .item, .post_button {
      width: 100%;
      font-size: 2.7rem;
      font-weight: 400;
      color: black;
      height: 6.73rem;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      padding-left: 25%;
      cursor: pointer;
    }

    .post_button {
      background: #428EFF;
      border-radius: 5rem;
      color: white;
    }

    .item:hover {
      box-shadow: 5px 7px 15px -3px rgba(0, 0, 0, 0.15);
    }
  }

  .side_bottom {
    width: 23.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3rem;
    background: #E5DAFD;
    border-radius: 2rem;
    cursor: pointer;
    padding: 2rem 2.5rem;
    color: black;
    font-weight: 500;
  }

  .user_info {
    width: 28.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #F8F5FF;
    border-radius: 2rem;
    padding: 1rem 1rem;

    .info {
      display: flex;

      img {
        width: 7rem;
        height: 7rem;
        margin-right: 1rem;
        border-radius: 50%;
      }

      .name {
        font-size: 2.5rem;
        font-weight: 500;
      }

      .id {
        font-size: 2.1rem;
      }
    }

    .icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5rem;
      padding: 1rem 0;
      cursor: pointer;
      font-size: 2.7rem;
    }

  }
}

.dark_side_wrap {
  .side_items {
    span {
      color: #2b3854;
    }

    .item {
      background-color: #7673a9;

      .sider_btn_word {
        color: #2b3854;
      }
    }

    .post_button {
      background: #7673a9;
      color: #2b3854;
    }
  }

  .user_info {
    background: #6a5f85;

    .name, .id {
      color: #0d0916;
    }

    .icon {
      color: #0d0916;
      background-color: rgb(163 148 197) !important;
    }
  }
}

// Mobile upper right corner button
.toggle_button {
  display: none;
  width: 7.7rem;
  height: 7.7rem;
  position: fixed;
  bottom: 7rem;
  right: 3rem;
  z-index: 3;
  padding: 1rem;
  background-color: #428EFF;
  color: white;
  font-size: 3.9rem;
  border-radius: 50%;
  cursor: pointer;
}

// Mobile overlay layer
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@keyframes slideRight {
  from {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 500px) {
  .side_wrap {
    display: none;
  }

  .side_wrap_open {
    display: flex;
    position: absolute;
    z-index: 2;
    background-color: #F8F5FF;
    animation: slideRight 0.2s ease-out;
  }

  .dark_side_wrap_open {
    background-color: #515d88;
  }

  .toggle_button {
    display: block;
  }

  .overlay.active {
    display: block;
  }
}

