.comment {
  width: 56rem;
  padding: 2rem 1rem 0 1rem;
  height: 100%;
  z-index: 200;

  .close_comment_button {
    display: none;
    width: 7.7rem;
    height: 7.7rem;
    position: fixed;
    bottom: 7rem;
    right: 3rem;
    z-index: 3;
    padding: 1rem;
    background-color: #428EFF;
    color: white;
    font-size: 3.9rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .comment_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 1rem 0 1rem 0;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 2rem;

    .comment-tree-node, .comment-list {
      width: 100%;
    }

    .comment_header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 2rem;
      gap: 2rem;
    }

    .dark_comment_header {
      span svg path {
        stroke: #b9c9de;
      }
    }

    .title {
      width: 100%;
      font-size: 3.5rem;
      font-family: "Fredoka", sans-serif;
      padding-left: 1rem;
      text-align: start;
    }

    .comment_list {
      width: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
    }
  }
}

.comment_main {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-top: 1px rgb(103, 155, 248) solid;

  .author {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: "Fredoka", sans-serif;

    .avatar {
      width: 5.3rem;
      height: 5.3rem;
      border-radius: 50%;
    }
  }

  .dark_author {
    div {
      color: var(--text-color) !important;

      span {
        background-color: rgb(132, 137, 168) !important;
      }
    }
  }

  .tweet {
    font-size: 2rem;
    text-align: start;
    line-height: 3rem;
    margin-bottom: 2rem;
    white-space: pre-wrap;
    font-family: 'Arial', Arial, sans-serif;

    .img_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;

      img {
        width: 49%;
        border-radius: 2rem;
      }
    }

    .img_list img:only-child {
      width: 100%;
    }
  }

  .post_bottom {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
      font-size: 2rem;
      gap: 1rem;
    }
  }

  .dark_post_bottom {
    span svg path {
      fill: #b9c9de !important;
    }
  }

  .com_user_info {
    color: #b9c9de !important;
  }


}

@keyframes slideLeft {
  from {
    opacity: 0.5;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 500px) {

  .comment {
    width: 100%;
    position: fixed;
    animation: slideLeft 0.2s linear;

    .close_comment_button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.show-more-less-clickable {
  color: #0C6DFF;
  cursor: pointer;
}







