.modal_overlay {
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

.modal {
  width: 93.8rem;
  background-color: #F0F4FF;
  padding: 2rem 4rem;
  border-radius: 2rem;
  font-size: 3rem;

  .item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background: #E0E6F9;
    padding: 0.5rem 2rem;
    text-align: start;

    input {
      height: 4rem;
      width: 100%;
    }

    textarea{
      height: 7rem;
      width: 100%;
      resize: none;
    }

    input,textarea{
      border:none;
      background: inherit;
      outline: none;
      font-size: 2.5rem;
    }
  }

  .done {
    width: 100%;
    padding: 1.8rem;
    border-radius: 2rem;
    background: #E5DAFD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
  }
}

}
