.receive_modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font-size: 3.7rem;
    display: flex;
    align-items: center;
    gap: 2rem
  }

  .token {
    width: 31.4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0E6F9;
    font-size: 3.3rem;
    border-radius: 2rem;
  }

  .wallet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 3.3rem;
    gap: 1rem;

    .address {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #E0E6F9;
      border-radius: 2rem;
      font-size: 2.3rem;
      gap: 2rem;
      cursor: pointer;

      &:hover {
        background-color: #10499F;
        color: white;
        path {
          fill: white;
        }
      }
    }
  }

  .done_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10499F;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
    font-size: 3rem;
  }
}
