.receive_modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Fredoka", sans-serif;

  .receive_title {
    font-size: 3.7rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .dark_receive_title svg path {
    stroke: var(--text-color);
  }

  .token {
    width: 31.9rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0E6F9;
    font-weight: 500;
    font-size: 2.9rem;
    border-radius: 2rem;
  }

  .dark_token {
    background: #434e6e;
  }

  .wallet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 3.3rem;
    gap: 1rem;

    .address {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #E0E6F9;
      border-radius: 2rem;
      font-size: 2.7rem;
      line-height: 2.9rem;
      font-family: Arial, Helvetica, sans-serif;
      gap: 2rem;
      cursor: pointer;
      flex-wrap: wrap;

      &:hover {
        background-color: #10499F;
        color: white;
        
        path {
          fill: white;
        }
      }
    }

    .dark_address {
      background: #434e6e;

      svg path {
        fill: var(--text-color);
      }
    }
  }

  .done_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10499F;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .receive_modal .wallet .address {
    font-size: 2.3rem;
  }
}
