body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sider .ant-menu-item {
    display: flex;
    align-items: center;
}

.posts::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.posts::-webkit-scrollbar-track {
    border-radius: 3px;
    background: white;
}

/* 滚动条滑块 */
.posts::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: white;
}

.posts:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
}
