@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.App, #root,
html,
body,
main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: #1f2328;
}

::-webkit-scrollbar {
    width: 0px; /* 宽度 */
    height: 6px; /* 高度 */
}


::-webkit-scrollbar-track {
    border-radius: 3px;
    background: white;
    height: 50%;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: white;
    height: 2px;

}

:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    height: 20px;
}
