.comment_modal {

  .post_head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 6.9rem;
      height: 6.9rem;
      margin-right: 1rem;
    }

    .name {
      font-size: 2.7rem;

    }

    .id {
      font-size: 2.3rem;
    }
  }

  textarea {
    margin-top: 3rem;
    width: 100%;
    outline: none;
    min-height: 20rem;
    border: none;
    background: inherit;
    resize: none;
    font-size: 2.3rem;
  }

  .post_foot {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    svg {
      cursor: pointer;
    }

    .smile {
      height: 3.6rem;
    }

    .picker {
      top: 100%;
      position: absolute;
    }
  }

  .button_wrap {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;

    .button {
      background: #c2daff;
      color: #536aec;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      padding: 1rem 6rem;
      cursor: pointer;
    }
  }


}
