@import "../../index";

.main_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
  height: 100%;
  overflow-x: hidden;
  border-left: 1px solid #79aaff;
  border-right: 1px solid #79aaff;
  padding-bottom: 10rem;
  @include respond-to("phone") {
    border-right: 0;
    border-left: 0;
  }

  .title {
    display: flex;
    width: 100%;
    align-items: start;
    font-size: 3.7rem;
    font-family: "Fredoka", sans-serif;
    padding-bottom: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
    
    @include respond-to("phone") {
      border-right: 0;
    }
  }

  .dark_title svg path {
    stroke: #b9c9de;
  }
}

.selected_post {
  background-color: rgb(239 239 250 / 60%);
}

.dark_selected_post {
  background-color: rgba(81, 81, 102, 0.6);
}

.post_main {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 2rem;
  border-bottom: 1px rgb(197, 217, 251) solid;
  flex-direction: column;
  transition: 0.7s ease;
  @include respond-to("phone") {
    border-right: 0;
  }

  .author {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    .avatar {
      width: 5.3rem;
      height: 5.3rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .post_dot {
    width: 0.5rem;
    min-width: 0.5rem;
    height: 0.5rem;
    background: rgb(132 137 168);
    border-radius: 50%;
  }


  .tweet {
    font-size: 2rem;
    color: #000;
    text-align: start;
    line-height: 3rem;
    margin-bottom: 2rem;
    margin-left: 6.3rem;
    font-family: 'Arial', Arial, sans-serif;

    .img_list {
      display: grid;
      margin-top: 1rem;
      gap: 0.3rem;
      grid-template-columns: repeat(2, 1fr);

      .image-container {
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
          max-width: 100%;
          height: 100%;
          min-height: 100%;
          border-radius: 1rem;
          cursor: zoom-in;
          border: 1px #d0d7e2 solid;
          transition: transform 0.3s ease;
        }
      }

      .image-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .full-screen-image {
          max-width: 90%;
          max-height: 90%;
          cursor: zoom-out;
        }
      }

    }
  }

  .post_bottom {
    padding: 0 3rem 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 2rem;
      gap: 1rem;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-30%);
      transform-origin: top;
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.dark_post_main {
  .more_wrap {

    &:hover {
      background: #617398;
    }

    svg {
      path {
        fill: #b9c9de;
        stroke: #b9c9de;
      }
    }
  }

  .dropdown_wrap {
    background-color: #617398;

    div {
      color: #ceddf1;

      &:hover {
        background: #8997b7;
      }
    }
  }

  .reply_wrap textarea {
    color: black;
  }

  .post_bottom {

    span {
      color: #b9c9de !important;

      svg {
        fill: #b9c9de;

        path {
          fill: #b9c9de;
          stroke: none;
        }
      }
    }
  }
}
